<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Page not Found</title>
    <link rel="stylesheet" href="../css/404.css" type="text/css" />
    <link rel="shortcut icon" href="../images/logo.png" type="image/png" />
</head>

<body>
    <img class="logo" id="notfound-logo" src="../images/wiscro_main.png" type="images/png" alt="wiscro" />
    <p id="notfound-title">404</p>
    <p id="notfound-subtitle">We couldn't find the page you were looking for...</p>
</body>

</html>