<!DOCTYPE html>
<html>

<head>
	<title>{{ username }} | Wiscro</title>
	<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
	<link rel="stylesheet" href="../css/guestPage.css" type="text/css" />
	<link rel="shortcut icon" href="../images/logo.png" type="image/png" />
</head>

<body>
	<div class="page-container" id="user-container">
		<div class="page-element user-navbar" id="user-topbar">
			<img id="user-topbar-logo" src="../images/wiscro.png" type="image/png" />
		</div>
		<div class="page-element" id="user-content-container">
			<div data-pageName="home" class="user-page" id="user-home-page">
				<div data-pageName="ans" class="user-page-page" id="user-main-ques-container">
					<div class="user-question">
						<div class="user-question-div user-question-ans user-question-yes">
							<p>Yes</p>
						</div>
						<div class="user-question-div user-question-ques">
							<p>Do you like stripes?</p>
						</div>
						<div class="user-question-div user-question-ans user-question-no">
							<p>No</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="../js/jquery.js"></script>
	<script src="../js/guestPage.js"></script>
</body>

</html>