<!DOCTYPE html>
<html>

<head>
	<title>Wiscro</title>
	<link rel="stylesheet" href="../css/indexPage.css" type="text/css" />
	<link rel="shortcut icon" href="../images/logo.png" type="image/png" />
</head>

<body>
	<div class="page-container" id="index-container">
		<img class="logo" id="index-logo" src="../images/wiscro.png" />
		<p id="subtitle">Let the people decide for you!</p>
		<div class="element-container" id="index-button-container">
			<a href="/log"><input class="index-button noselect" id="index-login-button" type="button"
					value="Login" /></a>
			<a href="/reg"><input class="index-button noselect" id="index-register-button" type="button"
					value="Register" /></a>
		</div>
	</div>
</body>

</html>