<!DOCTYPE html>
<html>

<head>
	<title>{{ username }} | Wiscro</title>
	<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
	<link rel="stylesheet" href="../css/userPage.css" type="text/css" />
	<link rel="shortcut icon" href="../images/logo.png" type="image/png" />
</head>

<body>
	<div class="page-container" id="user-container">
		<div class="page-element user-navbar" id="user-topbar">
			<img id="user-topbar-menu-btn" src="../images/menu.png" type="image/png" />
			<img id="user-topbar-logo" src="../images/wiscro.png" type="image/png" />
		</div>
		<div class="page-element menu-overlay-inactive noselect" id="user-menu-overlay">
			<div class="user-navbar" id="user-menu-overlay-topbar">
				<img id="user-menu-overlay-topbar-menu-btn" src="../images/menu_black.png" type="image/png" />
				<img id="user-menu-overlay-topbar-logo" src="../images/wiscro_black.png" type="image/png" height="50px"
					width="150px" />
				<p id="menu-greeting">Hello, {{ username }}</p>
				<ul id="user-menu-overlay-nav-list">
					<li class="user-menu-overlay-nav-el" id="menu-overlay-home-btn" data-btnName="home">Home</li>
					<li class="user-menu-overlay-nav-el" id="menu-overlay-myques-btn" data-btnName="my-ques"
						data-fetchurl="myques">My Questions</li>
					<li class="user-menu-overlay-nav-el" id="menu-overlay-myans-btn" data-btnName="my-ans"
						data-fetchurl="myans">My Answers</li>
					<a href="/about">
						<li class="user-menu-overlay-nav-el" id="menu-overlay-about-btn" data-btnName="about">About
							Wiscro
						</li>
					</a>
					<a href="/logout">
						<li class="user-menu-overlay-nav-el" id="menu-overlay-logout-btn" data-btnName="logout">Log out
						</li>
					</a>
				</ul>
			</div>
		</div>
		<div class="page-element" id="user-content-container">
			<div data-pageName="home" class="user-page" id="user-home-page">
				<div data-pageName="ans" class="user-page-page" id="user-main-ques-container">
				</div>
				<div data-pageName="ask" class="user-page-page inactive-page" id="user-main-ask-container">
					<form class="data-form" id="user-ask-form">
						<textarea class="data-form-input" id="user-ask-form-textarea"
							placeholder="Enter a Yes/No question"></textarea>
						<input id="user-ask-form-submit-btn" type="button" value="Submit" />
					</form>
					<div id="snackbar">
						<p id="snackbar-text"></p>
					</div>
				</div>
			</div>
			<div data-pageName="my-ques" class="user-page inactive-page" id="user-myques-history-page">
			</div>
			<div data-pageName="my-ans" class="user-page inactive-page" id="user-myans-history-page">
			</div>
		</div>
		<div class="page-element user-navbar" id="user-bottombar">
			<input data-btnName="ans" type="button" class="home-page-button active-home-page-button"
				id="user-bottombar-ans-button" value="answer" />
			<input data-btnName="ask" type="button" class="home-page-button" id="user-bottombar-ask-button"
				value="ask" />
		</div>
	</div>

	<script src="../js/utils/jquery.js"></script>
	<script src="../js/utils/snackbarController.js"></script>
	<script src="../js/userPage/elements.js"></script>
	<script src="../js/userPage/uiChange.js"></script>
	<script src="../js/userPage/main.js"></script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-141237318-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-141237318-1');
	</script>

</body>

</html>