@import url("https://fonts.googleapis.com/css?family=Varela+Round");

body {
  margin: 0px;
  padding: 0px;
  text-align: center;
  background: #111111;
  font-family: sans-serif;
}

#notfound-logo {
  height: 40px;
  width: 125px;
  margin-top: 70px;
  margin-bottom: 30px;
}

#notfound-title {
  color: #1190cb;
  font-size: 200px;
  margin-top: 0px;
  font-style: bold;
  padding: 0px;
}

#notfound-subtitle {
  position: relative;
  padding: 0px;
  margin-top: -220px;
  color: #1190cb;
  font-size: 34px;
}

#home-button {
  margin-top: 50px;
  background-color: #1190cb;
  font-family: "Varela Round";
  font-size: 18px;
  color: white;
  height: 40px;
  width: 85px;
  border: 0px;
  border-radius: 50px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {
  #notfound-logo {
    height: 110px;
    width: 350px;
    margin-top: 300px;
    margin-bottom: 70px;
  }

  #notfound-title {
    font-size: 400px;
  }

  #notfound-subtitle {
    margin-top: -440px;
    font-size: 68px;
  }

  #home-button {
    margin-top: 100px;
    font-size: 40px;
    height: 80px;
    width: 170px;
    border-radius: 100px;
  }
}
