@import url('https://fonts.googleapis.com/css?family=Varela+Round');

body {
	margin: 0px;
	padding: 0px;
	background: #111111;
	text-align: center;
	font-family: "Varela Round", sans-serif;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

.user-page {
	color: white;
}

*:focus {
	outline: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; 
}

#user-topbar {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 75px;
	background: #232323;
	box-shadow: 0px 0px 50px black;
	z-index: 100;
}

#user-topbar #user-topbar-logo {
	margin: auto;
	margin-top: 12.5px;
	height: 50px;
	width: 150px;
	cursor: pointer;
}

#user-topbar #user-topbar-menu-btn {
	position: fixed;
	height: 30px;
	width: 30px;
	left: 10px;
	margin-top: 22.5px;
	margin-left: 40px;
	cursor: pointer;
}

#user-content-container {
	position: fixed;
	top: 75px;
	height: 100%;
	width: 100%;
	overflow: scroll;
	overflow-x: hidden;
}

#user-content-container::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

#user-content-container::-webkit-scrollbar-thumb {
    background: black;
}

#user-main-ques-container {
	margin: auto;
	width: 575px;
}

#user-main-ques-container .user-question {
	width: 100%;
	margin: auto;
	text-align: center;
	background: #232323;
	height: 425px;
	margin-top: 45px;
	display: flex;
	flex-direction: row;
	box-shadow: 0px 0px 60px black;
}

.user-question .user-question-div {
	height: 100%;
	margin: 0px;
	color: white;
}

.user-question-yes {
	width: 48px;
	background: #019587;
	transition: 0.1s linear;
	cursor: pointer;
	transform: translateZ(0);
}

.user-question-yes:hover {
	width: 450px;
	transition: 0.1s linear;
}

.user-question-yes p {
	font-weight: bold;
	font-size: 25px;
	margin-top: 185px;
	transform: rotate(-90deg);
	transition: 0.1s linear;
}

/*.user-question-yes p:hover {
	font-size: 40px;
	transform: rotate(0deg);
	transition: 0.1s linear;
}*/

.user-question-ques {
	width: 500px;
	min-width: 400px;
	background: none;
	overflow: scroll;
	overflow-x: hidden;
}

.user-question-ques::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.user-question-ques::-webkit-scrollbar-thumb {
    background: black;
}

.user-question-ques p {
	font-size: 28px;
	margin: 30px;
}

.user-question-no {
 	width: 48px;
 	background: #C5002F;
 	transition: 0.1s linear;
 	cursor: pointer;
 	transform: translateZ(0);
}

.user-question-no:hover {
	width: 450px;
	transition: 0.1s linear;	
}

.user-question-no p {
	font-weight: bold;
	font-size: 25px;
	margin-top: 190px;
	transform: rotate(90deg);
	transition: 0.1s linear;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 1024px)  {
	html {
		height: 100%;
		width: 100%;
		margin: 0px;
		padding: 0px;
	}

	body {
		height: 100%;
		width: 100%;
		margin: 0px;
		padding: 0px;
	}

	#user-topbar {
		height: 150px;
		box-shadow: 0px 0px 150px black;
	}

	#user-topbar #user-topbar-logo {
		margin: auto;
		margin-top: 30px;
		height: 90px;
		width: 280px;
	}

	#user-topbar #user-topbar-menu-btn {
		height: 60px;
		width: 60px;
		left: 40px;
		margin-top: 52px;
		margin-left: 40px;
	}

	#user-content-container {
		position: fixed;
		top: 150px;
		height: 100%;
		width: 100%;
		overflow: scroll;
	}

	#user-main-ques-container {
		width: 100%;
		margin-top: 50px;
		height: auto;
	}

	#user-main-ques-container .user-question {
		width: 95%;
		height: calc(100vh - 650px);
		margin-top: 100px;
	}

	.user-question-yes {
		width: 100px;
		vertical-align: center;
	}

	.user-question-yes:hover {
		width: 100px;
	}

	.user-question-yes p {
		font-size: 48px;
		margin-top: 525px;
	}

	/*.user-question-yes p:hover {
		font-size: 40px;
		transform: rotate(0deg);
		transition: 0.1s linear;
	}*/

	.user-question-ques {
		min-width: 750px;
		width: 750px;
	}

	.user-question-ques p{
		font-size: 70px;
	}

	.user-question-no {
	 	width: 100px;
	}

	.user-question-no:hover {
		width: 100px;
	}

	.user-question-no p {
		font-size: 48px;
		margin-top: 525px;
	}
}

