<!DOCTYPE html>
<html>
<head>
	<title>{{ username }} | Wiscro</title>
	<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
	<link rel = "stylesheet" href = "../css/user.css" type = "text/css"/>
	<link rel = "shortcut icon" href = "../images/logo.png" type = "image/png"/>
</head>
<body>
	<div class = "page-container" id = "user-container">
		<div class = "page-element navbar" id = "user-navbar">
			<img class = "navbar-element" id = "user-navbar-logo" src = "../images/wiscro.png">
			<div class = "clear"></div>
			<div class = "navbar-element" id = "user-navbar-main-button" data-state = "ask">
				<p class = "navbar-element-element" id = "navbar-main-button">
					Ask
				</p>
			</div>
			<div class = "navbar-element" id = "user-navbar-button-container">
				<input class = "navbar-element user-navbar-button" id = "random-0-user-navbar-button"type = "button" value = "Random">
				<input class = "navbar-element user-navbar-button" id = "random-1-user-navbar-button" type = "button" value = "Random">
			</div>
		</div>

		<div class = "view-page" id = "answer-page">
		
		</div>
	</div>
	<script src = "../js/user.js"></script>
</body>
</html>